.battery {
    fill: fb-lavender;
}

.date {
    fill: fb-white;
}

.time-fill {
    fill: fb-red;
}

.time-outline {
    fill: fb-white;
}

.steps-icon {
    fill: fb-mint;
}

.steps {
    fill: fb-white;
}

.heart-icon {
    fill: fb-pink;
}

.heart {
    fill: fb-white;
}
